node_modules/
.env
database.sqlite
firestore_mock.json
serviceAccountKey.json
build/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
payroz-app/build/
payroz-admin/dist/
.vscode/
.idea/
*.log
